{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    ["flow-react-proptypes", {"useESModules": true}],
    "transform-class-properties",
    "transform-object-rest-spread",
    "styled-components-named",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src": "./src"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
