{
  "parser": "babel-eslint",
  "extends": "@festicket",
  "plugins": ["babel", "import", "jest", "flowtype"],
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "jest": {
        "jestConfigFile": "./jest.config.js"
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": ["off"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/require-valid-file-annotation": [2, "always"]
  }
}
