{
  "parser": "babel-eslint",
  "extends": "@festicket",
  "plugins": ["babel", "import", "jest", "flowtype"],
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "jest": {
        "jestConfigFile": "./jest.config.js"
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": ["off"],
    "react/jsx-filename-extension": ["off"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/require-valid-file-annotation": [2, "always"],
    "react/prop-types": ["off"],
    "react/default-props-match-prop-types": ["off"] // TODO FES-5572: Fixes an intermittent issue with Flow, to be investigated. Ideally should be fixed and this rule re-enabled.
  }
}
