{
  "parser": "babel-eslint",
  "extends": "@festicket",
  "plugins": ["babel", "react", "jsx-a11y", "import", "jest", "flowtype", "cypress"],
  "env": {
    "jest/globals": true,
    "cypress/globals": true

  },
  "settings": {
    "import/resolver": {
      "jest": {
        "jestConfigFile": "./jest.config.js"
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": ["off"],
    "react/jsx-filename-extension": ["off"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/require-valid-file-annotation": [2, "always"],
    "react/prop-types": ["off"],
    "react/default-props-match-prop-types": ["off"]
  }
}
