/node_modules
/.DS_Store
/flow-typed
/dist
**/.DS_Store
/public
/storybook-static

# Yalc - https://github.com/whitecolor/yalc#keep-it-out-of-git
yalc.lock
.yalc

# Ignore the loackfile to stop netlify
# From installing a broken version of yarn ... lame
yarn.lock

# Tern - code-analysis engine for JavaScript
.tern-port
