{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 Chrome versions",
            "last 3 ChromeAndroid versions",
            "Edge >= 14",
            "Explorer >= 11",
            "last 3 Firefox versions",
            "iOS >= 8",
            "Safari >= 9"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "flow-react-proptypes",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
